<section class="home">
  <div v-if="alert" class="row">
    <div class="col-12">
      <div class="alert" :class="alert.class">
        <h2 class="alert-heading">
          {{alert.text}}
        </h2>
      </div>
    </div>
  </div>
  <div v-if="!isGameInProgress" class="row">
    <div class="col-12">
      <div class="alert alert-warning">
        <h2 class="alert-heading">Instructions</h2>
        <ul>
          <li>Default Reaction time for Computer to React in other times (Except when there is a match and time to call
            SNAP ) is 2 seconds,
            This 2 seconds reaction time is only when it is computer's turn to place the card, not the reaction time
            when there is a snap.
          </li>
          <li>You can configure the Reaction Time for Computer when its time to call SNAP. Th</li>
        </ul>
      </div>
    </div>
  </div>
  <div v-if="isGameInProgress" class="row">
    <div class="col-md-4 text-left mt-2">
      <div class="card-holder-player">
        <img class="card-image-player" :class="isPlayersTurn ? 'pointer' :''" src="/static/images/cards/hidden.jpg"
             @click="drawPlayerCard()" style="z-index: 200" :style="{ left : (2*(playerCards.length)+1) +'px'}"/>
        <template v-if="playerCards.length > 1">
          <img v-for="card in playerCards.length-1" class="card-image-player" src="/static/images/cards/empty.jpg"
               :style="{ left : 2*card +'px'}">
        </template>
      </div>
      <template v-if="isPlayersTurn">
        <div class="row mb-2 mt-2">
          <div class="col-12">
            <i class="fa fa-lg fa-arrow-circle-up bounce"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-12 hide">
            <div class="badge badge-sm badge-success">
              Player's Turn
            </div>
          </div>
        </div>
      </template>
    </div>
    <div class="col-md-4 text-center mt-2 playingCards">
      <div class="card-holder-deck">
        <div v-if="playingCards[0]"
             class="card-image-deck"
             :class="getImageClass(playingCards[0])+' '+(isSnapTime ? 'pointer' :'')"
             style="z-index: 200"
             @click="doPlayerSnap()"
             :style="{ left : (2*(playingCards.length+1) + 20) +'px'}" v-html="getImageContent(playingCards[0])"></div>
        <div v-if="playingCards[1]"
             class="card-image-deck"
             :class="getImageClass(playingCards[1])"
             style="z-index: 100"
             :style="{ left : (2*(playingCards.length+1)) +'px'}" v-html="getImageContent(playingCards[1])"></div>
        <template v-if="playingCards.length > 2">
          <img v-for="card in playingCards.length-2" class="card-image-deck" src="/static/images/cards/empty.jpg"
          :style="{ left : 2*card +'px'}">
        </template>
      </div>
      <template v-if="isSnapTime">
        <div class="row mb-2 mt-2">
          <div class="col-12">
            <i class="fa fa-lg fa-arrow-circle-up"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="badge badge-sm badge-success">
              Its Snap Time, Hurry Up !!
            </div>
          </div>
        </div>
      </template>
    </div>
    <div class="col-md-4 text-left mt-2 ">
      <div class="card-holder-player">
        <img class="card-image-player" :class="isComputersTurn ? 'pointer' :''" src="/static/images/cards/hidden.jpg"
             style="z-index: 200" :style="{ left : (2*(computerCards.length)+1) +'px'}"/>
        <template v-if="computerCards.length > 1">
          <img v-for="card in computerCards.length-1" class="card-image-player" src="/static/images/cards/empty.jpg"
               :style="{ left : 2*card +'px'}">
        </template>
      </div>
      <template v-if="isComputersTurn">
        <div class="row mb-2 mt-2">
          <div class="col-12">
            <i class="fa fa-lg fa-arrow-circle-up"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-12 hide">
            <div class="badge badge-sm badge-success">
              Computer's Turn
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-3 text-center text-sm-left">
      <div class="badge badge-sm badge-primary">Reaction Time</div>
    </div>
    <div class="col-sm-6 text-center text-sm-left mt-4 mt-sm-0">
      <vue-range-slider id="reactionTime" class="mt-2" v-model="reactionTime" :min="1" :max="10"></vue-range-slider>
    </div>
    <div class="col-sm-3 text-center text-sm-right mt-4 mt-sm-0">
      <button v-if="isGameInProgress" class="btn btn-sm btn-danger" @click="resetGame()">Restart</button>
      <button v-else class="btn btn-sm btn-success" @click="startGame()">Start</button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm-3 text-center text-sm-left">
      <div class="badge badge-sm badge-primary">General Action Time</div>
    </div>
    <div class="col-sm-6 text-center text-sm-left mt-4 mt-sm-0">
      <vue-range-slider id="actingTime" class="mt-2" v-model="actingTime" :min="1" :max="10"></vue-range-slider>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <div class="alert alert-info">
        <p class="small text-center">Designed & Developed by Naresh Siramsetty</p>
      </div>
    </div>
  </div>
</section>
